<!DOCTYPE html>
<html>
<head>
    <title>Vue Practice</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="firstDiv">
<!--    Sets up-->
    <input v-model="number">
<!--    use {{ }} to pass in the variable-->
    <p>number is: {{ number }}</p>
    <ul>
        <li v-for="digit in digits">
            {{digit}}
        </li>
    </ul>
</div>

<!--    use v-attribute in html elements to use v-if, v-else-if, and v-else attributes-->
<!--    you can use v-for and iterate through an array-->
<div id="secondDiv">
<!--    when button is clicked the value of door is open is changed and vue automatically updates the page-->
    <button v-on:click="openCloseDoor">Open or close door</button>
    <p v-if="isDoorOpen">Come on in</p>
    <p v-else>Door is closed</p>
</div>



<script>
    // Similar to an object, but we call this the vue instance
    let firstDivVue = new Vue({
        // el is the element or called instance member
        el: '#firstDiv',
        data: {
            number: 11,
            digits: [1, 2, 3]
        },
        methods: {
            plus: function () {
                this.number++;
            }
        }
    });
    firstDivVue.plus();
    // console.log(firstDivVue.$data);
    // firstDivVue.$watch('number', function() {
    //     console.log('number has changed');
    // })
    // firstDivVue.number = 5;
    // firstDivVue.number = 10;
    let secondDivVue = new Vue({
        el: '#secondDiv',
        data: {
            isDoorOpen: true
        },
        methods: {
            openCloseDoor: function () {
                this.isDoorOpen = !this.isDoorOpen;
            }
        }
    })


    console.log("hello");
</script>
</body>
</html>